
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="row justify-content-center">
    <div class="col-md-5 mt-2">
      <h3 class="mt-2">Sign up</h3>

        <div class="form-group">
            <%= f.label "Full name", class: 'control-label' %>
            <%= f.text_field :full_name, autofocus: true, autocomplete: "full_name" , class: 'form-control', required: true %>
        </div>

        <div class="form-group">
            <%= f.label "Affiliation", class: 'control-label' %>
            <%= f.text_field :company, autofocus: true, autocomplete: "company" , class: 'form-control', required: true %>
        </div>
    
        <div class="form-group">
            <%= f.label "Invited by", class: 'control-label' %>
            <%= f.text_field :invited_by, autofocus: true, autocomplete: "invited_by" , class: 'form-control'%>
        </div>
    
    
          <div class="form-group">
            <%= f.label :email, class: 'control-label' %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: 'form-control', required: true %>
          </div>
    

          <div class="form-group">
            <%= f.label :password, class: 'control-label' %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, class: 'control-label' %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
          </div>


          <div class="form-group mt-3">
            <div class="form-check">
              <%= check_box_tag :terms_conditions, '1', false, class: 'form-check-input', required: true %>
              <%= label_tag :terms_conditions, class: 'form-check-label' do %>
                I agree to the <%= link_to 'Terms and Conditions', "https://www.multi-data.eu/privacy-policy-2", target: '_blank', class: 'text-warning' %> and <%= link_to 'Privacy Policy', "https://www.multi-data.eu/privacy-policy-2", target: '_blank', class: 'text-warning' %>
              <% end %>
            </div>
          </div>

          <div class="form-group">
            <div class="form-check">
              <%= check_box_tag :use_policy, '1', false, class: 'form-check-input', required: true %>
              <%= label_tag :use_policy, 'I understand that I am solely responsible for the uploaded content', class: 'form-check-label' %>
            </div>
          </div>


          <div class="form-group mt-2">
            <%= f.submit "Sign up", class: 'btn btn-warning mt-2 btn-block w-100' %>
          </div>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
