<%= form_with(model: video, class: "form") do |form| %>
  <% if video.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>
      <ul>
        <% video.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <%= form.text_field :name, class: "form-control", placeholder: "Enter a recognizable name for the task. It will be the name of the resultant .zip file", autofocus: true %>
  </div>

  <h3>List of tools to process the video</h3>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th></th>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% Tool.all.order(:name).each do |tool| %>
          <tr>
            <td>
              <%#= form.check_box :tool_ids, { multiple: true, id: "tool_ids_#{tool.id}" }, tool.id, nil %>
            <td><%= tool.name %></td>
            <td><%= tool.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="form-group mb-3 mt-2">
    <%= form.label ".zip file", class: "form-label" %>
    <%= form.file_field :zip, class: "form-control-file", accept: ".zip" %>
  </div>

  <div class="form-group">
    <%= form.submit "Upload zip", class: "btn btn-warning" %>
  </div>

<% end %>
