<h1>Video Pipeline Dashboard</h1>

<div class="toast show w-100 mb-3" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header bg-warning bg-opacity-25">
    <strong class="me-auto">Important Information</strong>
  </div>
  <div class="toast-body">
    <p class="mb-2">Upload your videos in a .zip file (max 500 Mb, up to 100 .mp4 files) for pipeline processing. You'll receive an email when processing is complete.</p>
    <p class="mb-2"><b>Note:</b> Refresh the page to see status changes. <b>Uploaded content is your sole responsibility.</b></p>
  </div>
</div>

<%= link_to "Upload zip", new_video_path, class: "btn btn-warning" %>
<button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#helpModal">
  Help
</button>

<!-- Help Modal -->
<div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="helpModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="helpModalLabel">Help Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>To upload your .zip file, simply click on the "Upload zip” button and select the .zip file you wish to process.</p>
        <p><strong>Pipeline steps:</strong></p>
        <p>The file will be placed in a queue and you will be notified when the task status changes.</p>
        <p>Once the task is completed, a new .zip file will be generated. If you delete the task, both the original .zip file and the processed .zip file will be completely deleted from our system.</p>
        <p><strong>Task status details</strong>:</p>
        <div class="accordion" id="taskStatusAccordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingQueued">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseQueued" aria-expanded="true" aria-controls="collapseQueued">
                Queued
              </button>
            </h2>
            <div id="collapseQueued" class="accordion-collapse collapse show" aria-labelledby="headingQueued" data-bs-parent="#taskStatusAccordion">
              <div class="accordion-body">
                Your file is waiting for its turn to be processed. Our system manages the processing of files in the order they are received, ensuring fairness and efficient resource utilization.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingProcessing">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProcessing" aria-expanded="false" aria-controls="collapseProcessing">
                Processing
              </button>
            </h2>
            <div id="collapseProcessing" class="accordion-collapse collapse" aria-labelledby="headingProcessing" data-bs-parent="#taskStatusAccordion">
              <div class="accordion-body">
                Your file reached the front of the queue and it is being automatically processed through our pipeline.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingProcessed">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProcessed" aria-expanded="false" aria-controls="collapseProcessed">
                Processed
              </button>
            </h2>
            <div id="collapseProcessed" class="accordion-collapse collapse" aria-labelledby="headingProcessed" data-bs-parent="#taskStatusAccordion">
              <div class="accordion-body">
                The pipeline finished processing your file and a new .zip file has been generated. This file contains the processed output of your original file.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <% if current_user.admin? %>
          <th>User</th>
        <% end %>
        <th>Date</th>
        <th>Status</th>
        <th>Original File</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody>
      <% @videos.each do |video| %>
        <tr>
          <td><%= video.name %></td>
          <% if current_user.admin? %>
            <td><%= video.user.email %></td>
          <% end %>
          <td><%= video.created_at.strftime("%d/%m/%Y %H:%M") %></td>
          <td>
            <% if video.status == "Error" %>
              <span class="badge bg-danger"><%= video.status %></span></td>
            <% elsif video.status == "Processed" %>
              <span class="badge bg-success"><%= video.status %></span></td>
            <% elsif video.status == "Processing" %>
              <span class="badge bg-info"><%= video.status %></span></td>
            <% elsif video.status == "Queued" %>
              <span class="badge bg-warning"><%= video.status %></span></td>
            <% else %>
              <span class="badge bg-warning"><%= video.status %></span></td>
            <% end %>
          <td><%= link_to video.zip_url.split('/').last, ENV["RAILS_RELATIVE_URL_ROOT"]+video.zip_url, class: "btn btn-light" %></td>
          
          <% if video.status == "Processed" %>
            <td>                  
              <%= link_to "Download", ENV["RAILS_RELATIVE_URL_ROOT"] + "/uploads/video/zip/#{video.id}/#{video.name}.zip", class: "btn btn-warning" %>     
            </td>
          <% end %>
          <% if video.status == "Error" or video.status == "Processed" or current_user.admin? %>
            <td>
              <%= link_to "Delete", video, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @videos %>