<footer class="footer mt-5">
    <div class="container">
        <!-- Logos Row -->
        <div class="row">
            <div class="col-md-3  p-2">
                <%= image_tag "logoUMU.jpg", alt: "Logo Universidad Murcia", class: "img-fluid rounded", height: "50%", max_width: "100px" %>
            </div>
            <div class="col-md-3 p-2">
                <%= image_tag "logoFAU.jpg", alt: "Logo FAU University", class: "img-fluid rounded", height: "50%", max_width: "100px" %>
            </div>
            <div class="col-md-3 p-2">
                <%= image_tag "logoRadboud.jpg", alt: "Logo Radboud University", class: "img-fluid rounded", height: "50%", max_width: "100px" %>
            </div>
            <div class="col-md-3 p-2">
                <%= image_tag "logoEU.jpg", alt: "Logo European Union", class: "img-fluid rounded", height: "50%", max_width: "100px" %>
            </div>
        </div>
        <!-- Information Row -->
        <div class="row mt-4 text-start">
            

            <div class="col-md-3">
                <ul class="list-unstyled">
                    <li><a href="https://www.facebook.com/MultiDataPipeline"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                    <li><a href="https://www.twitter.com/MultiDataPipeline"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a href="https://www.instagram.com/MultiDataPipeline"><i class="fab fa-instagram"></i> Instagram</a></li>
                    <li><a href="https://www.linkedin.com/company/multidatapipeline"><i class="fab fa-linkedin-in"></i> LinkedIn</a></li>
                </ul>
            </div>

            <div class="col-md-3">
                
            </div>
            
            <div class="col-md-3">
                
            </div>

            <div class="col-md-3">
                <p><a href="mailto:info@multidatapipeline.com">info@multidatapipeline.com</a></p>
                <p><a href="#">Suscribe to our newsletter</a></p>
            </div>
        
        </div>
        <!-- Copyright -->
        <div class="row">
            <hr/>
            <div class="col-12 mt-3">
                <p>Funded by the European Union. Neither the European Union nor EACEA can be held responsible for views expressed.</p>
                <p>Copyright &copy; <%= Time.now.year %> MultiData Pipeline</p>
            </div>
        </div>
    </div>
</footer>