
<footer class="footer">
    
    <div class="row">
        <div class="col-md-3">
            <h4></h4>
            <%= image_tag "logoUMU.jpg", :alt => "Logo Universidad Murcia", :class => "img-fluid rounded", :height => "50%", :"max-width" => "100px" %>
        </div>
        <div class="col-md-3">
            <h4></h4>
            <%= image_tag "logoFAU.jpg", :alt => "Logo FAU University", :class => "img-fluid rounded", :height => "50%", :"max-width" => "100px" %>
            <ul>
                
            </ul>
        </div>
        <div class="col-md-3">
            <h4></h4>
            <%= image_tag "logoRadboud.jpg", :alt => "Logo Radboud University", :class => "img-fluid rounded", :height => "50%", :"max-width" => "100px" %>
            <ul>
                
            </ul>
        </div>
        <div class="col-md-3">
            <h4></h4>
            <%= image_tag "logoEU.jpg", :alt => "Logo Radboud University", :class => "img-fluid rounded", :height => "50%", :"max-width" => "100px" %>

            <ul>
                
            </ul>
        </div>
    <p>Funded by the European Union. Views and opinions expressed are however those of the author(s) only and do not necessarily reflect those of the European Union or the European Education and Culture Executive Agency (EACEA). Neither the European Union nor EACEA can be held responsible for them.</p>
    <p>Copyright &copy; <%= Time.now.year %> MultiData Pipeline</p>
</footer>