<!DOCTYPE html>
<html>
  <head>
    <title>MULTIDATA PIPELINE</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>

    <%= render "layouts/bar" %>
    <div class="container">
      <div>
        <% flash.each do |key, value| %>
              <div class="<%= flash_class(key) %>" role="alert">
                    <%= value %>
              </div>
        <% end %>    
      </div>
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>